
#tab-graph .tab-header-title {
    text-align: center;
}

#spectrogram-container {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
    background: #000;
}

#spectrogram-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
